* {
  box-sizing: border-box;

}

.logo {
  padding-left: 100px;
  float: left;
  display: inline-block;
  margin-right: 700px;
}

.nav-buttons {
  list-style: none;
  display: inline-block;
  padding: 6px;
  margin-left: 10px;
  border-bottom: 3px solid transparent;
}

.nav-buttons:hover {
  border-bottom: 3px solid grey;
}

a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.banner {
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  top: 100px;
  right: 200px;
  color: white;
  width: 500px;
  height: 300px;
  margin: 20px;
}

.banner-content h2 {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 34px;
}

.banner-content p {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 25px;
}

.banner-iphone {
  position: absolute;
}

.banner-check {
  margin-top: 0;
  border-radius: 2px;
  padding: 4px 10px 4px 6px;
  color: white;
  display: inline-block;
}

.banner-button-text {
  display: inline-block;
  vertical-align: middle;
}

article {
  float: left;
  width: 20%;
}

article + article {
  margin-left: 10%;
}

.icon-style {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 50%;
  margin-left: 250px;
  margin-top: 100px;
}

.icons-title {
  text-align: center;
  color: blue;
  width: 300px;
  margin-left: 180px;
}

.icons-text {
  text-align: center;
  font-size: 14px;
  color: #6c6c6c;
  width: 300px;
  margin-left: 180px;
}

.icon-pencil {
  background-color: #5094f2;
  display: inline-block;
  padding: 30px;
}

#pencil {
  width: 65px;
  height: 90px;
}

.icon-desktop {
  background-color: #da4748;
  display: inline-block;
  padding: 40px;
}

#desktop {
  width: 65px;
  height: 70px;
}

.icon-basket {
  background-color: #ebbc30;
  display: inline-block;
  padding: 40px;
}

#basket {
  width: 65px;
  height: 70px;
}

#cart-icon {
  width: 300px;
  margin-left: 150px;
}


#shopping-cart-title {
  font-family: Arial, Helvetica, sans-serif;
  color: #6c6c6c;
  font-size: 30px;
  font-weight: 200;
}

#shopping-cart-subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #6c6c6c;
  margin: 0;
}

#shopping-cart-text  {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #6c6c6c;
  margin: 0;
}

footer {
  text-align: center;
  width: 100%;
  color: #909090;
  display: block;
  text-align: center;
  padding-top: 20px;
}
